@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=PT+Serif:wght@400;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div>
        @await Html.PartialAsync("_Header");
        <main>
            <div class="container-fluid contact p-4 " style="background: linear-gradient(rgba(255, 181, 210, 0.812), rgba(250, 250, 250, 0.781));">
                <div class="container pt-5">
                    <div class="row g-4 align-items-center">
                        <div class="col-lg-6">
                            <div class="text-center">
                                <h1 class="display-3 text-primary mb-4">Rom&nd's Member</h1>
                                <p class="fs-4">Cùng Theo Dõi Và Trở Thành Thành Viên Của Rom&nd Để Có Những Ưu Đãi Đặc Biệt Cùng Chúng Tôi</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-form rounded p-5">
                                <form>
                                    <h1 class="display-6 mb-4">Sign In</h1>
                                    <div class="row gx-4 gy-3">
                                        <div class="col-xl-6">
                                            <input type="text" class="form-control bg-white border-0 py-3 px-4" placeholder="Your First Name">
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="email" class="form-control bg-white border-0 py-3 px-4" placeholder="Your Email">
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" class="form-control bg-white border-0 py-3 px-4" placeholder="Your Phone">
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" class="form-control bg-white border-0 py-3 px-4" placeholder="Your Address">
                                        </div>
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control bg-white border-0 py-3 px-4" placeholder="Your UserName">
                                        </div>
                                        <div class="col-xl-12">
                                            <input type="password" class="form-control bg-white border-0 py-3 px-4" placeholder="Your Password">
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary btn-primary-outline-0 w-100 py-3 px-5" type="submit">Submit</button>
                                        </div>
                                        <div class="col-12 text-center mt-3">
                                            <a href="#" class="text-primary">Quên mật khẩu?</a>
                                        </div>
                                        <div class="col-12 text-center mt-2">
                                            <p>Bạn đã là thành viên của team? <a href="Login.html" class="text-primary">Đăng nhập</a></p>
                                        </div>
                                        <div class="col-12 text-center mt-3">
                                            <button class="btn btn-outline-primary w-100 py-3 px-5">
                                                <i class="fab fa-facebook me-2"></i> Đăng nhập bằng Facebook
                                            </button>
                                        </div>
                                        <div class="col-12 text-center mt-2">
                                            <button class="btn btn-outline-danger w-100 py-3 px-5">
                                                <i class="fab fa-google me-2"></i> Đăng nhập bằng Gmail
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @await Html.PartialAsync("_Footer");
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="~/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="~/assets/demo/chart-area-demo.js"></script>
        <script src="~/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="~/js/datatables-simple-demo.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/main.js"></script>
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/wow/wow.min.js"></script>
        <script src="~/lib/easing/easing.min.js"></script>
        <script src="~/lib/waypoints/waypoints.min.js"></script>
        <script src="~/lib/counterup/counterup.min.js"></script>
        <script src="~/lib/lightbox/js/lightbox.min.js"></script>
        <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Template Javascript -->
        <script src="~/js/main.js"></script>
    </div>
</body>
</html>
